@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --mainBgImage: url('../../public/assets/Shape.svg');
    --studentExamBG: url('../../public/assets/exam.jpeg');
  }
}

.accountLayout{
  background-image: var(--mainBgImage);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #4880FF;
  background-position: center;
}
.ExamPage{
  background-image: var(--studentExamBG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-wave {
  background: linear-gradient(to right, #3a6aed, #1677FF);
  position: relative;
  overflow: hidden;
}

/* .bg-wave::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" fill="none"%3E%3Cpath d="M0 12 Q5 0 12.5 12 T25 12" stroke="%23ffffff" stroke-width="1" fill="none" /%3E%3C/svg%3E');
  background-repeat: repeat;
  background-size: 25px 25px; 
  transform: rotate(45deg); 
  opacity: 0.3; 
} */
